*{
    box-sizing: border-box;
}

.custom-navbar {
    background-color: #1175B3; 
    color: #fff;
}

.custom-navbar .nav-link {
    color:#fff;
}

.custom-blue-header {
    background-color: #1175B3;
    color: #fff;
}

body {
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: #e7f1f7;
    font-family: 'Roboto', sans-serif;
}

.carrosel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 100%;
    width: 100%;
}